.videopop {
    position: fixed;
    padding: 0 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #284251;
    z-index: 99;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1300px){
    .videopop {
        top: 118px !important;
    }
}

.videopop .videopop_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.videopop .videopop_close {
    cursor: pointer;
    position: absolute;
    top: 3%;
    right: 4%;
    width: 10%;
}

.videopop .videopop_main-content {
    /* border: 1px solid red; */
}

.videopop_main-content .videopop_text {
    /* border: 1px solid red; */
}

.videopop_text h4 {
    padding: 3px;
    color: #fff;
    background-color: #990000;
    font-size: 1.3em;
    font-family: Helvetica;
    font-weight: bold;
    width: fit-content;
}

.videopop_text p {
    padding: 3px;
    color: #fff;
    background-color: #565b6f;
    font-family: Helvetica;
    font-size: 0.9em;
}

.videopop_main-content .videopop_video-wrapper {
    /* border: 1px solid red; */
    position: relative;
    margin-top: 20px;
}

.videopop_video-wrapper .videopop_play-icon {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    z-index: 1;
}

.videopop_video-wrapper video {
    width: 100%;
}

.videopop .videopop_btns-wrapper {
    /* border: 1px solid red; */
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.videopop_btns-wrapper .videopop_icon {
    cursor: pointer;
    margin-left: 20px;
    width: 13%;
    display: flex;

    z-index: 1;
}

.videopop_btns-wrapper .videopop_favorite-icon {
    opacity: .5;
    transition: 200ms all;
}

.videopop_btns-wrapper .videopop_favorite-icon:hover {
    opacity: 1 !important;
}

.videopop .videopop_cards {
    display: none;
}

.videopop_btns-wrapper .videopop_share-icons-box {
    border-radius: 8px 0 0 8px;
    margin-right: -10%;
    margin-left: 20px;
    width: 200px;
    height: 90%;
    background-color: #c3d9cd;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
}

.videopop_share-icons-box .share-icon {
    cursor: pointer;
    width: 15%;
    margin: 0 5px;
}

.videopop_share-icons-box .close-share {
    cursor: pointer;
    width: 6%;
    margin-right: 5px;
}

@media screen and (min-width: 550px) {
    .videopop {
        padding: 30px 20px;
    }
    
    .videopop .videopop_wrapper {
        justify-content: center;
        flex-direction: row;
    }

    .videopop .videopop_close {
        top: 5%;
        width: 5.5%;
    }

    .videopop .videopop_main-content {
        margin-right: 10px;
        width: 60%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .videopop_main-content .videopop_video-wrapper {
        margin-top: 15px;
    }


    .videopop .videopop_btns-wrapper {
        margin: 0;
        width: 10%;
        flex-direction: column;
    }

    .videopop_btns-wrapper .videopop_icon {
        width: 70%;
        margin: 0;
        margin-top: 15px;
    }

    .videopop_btns-wrapper .videopop_share-icons-box {
        border-radius: 8px 8px 0 0;
        margin: 0;
        margin-top: 20px;
        margin-bottom: -50%;
        height: 70%;
        width: 70%;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .videopop_share-icons-box .share-icon {
        width: 90%;
        margin: 3px 0;
    }
    
    .videopop_share-icons-box .close-share {
        width: 30%;
        transform: rotate(90deg);
        margin-bottom: 3px;
    }
    
}

@media screen and (min-width: 840px) and (max-height: 425px) {
    .videopop .videopop_main-content {
        width: 50%;
    }

    .videopop_btns-wrapper .videopop_share-icons-box { 
        width: 60%;
    }

    .videopop_share-icons-box .share-icon {
        width: 70%;
        margin: 3px 0;
    }
    
    .videopop_share-icons-box .close-share {
        width: 30%;
        transform: rotate(90deg);
        margin-bottom: 3px;
    }

}

@media screen and (min-width: 750px) and (min-height: 500px) {
    .videopop {
        align-items: center;
    }

    .videopop .videopop_main-content {
        width: 75%;
    }

    .videopop_text h4 {
        font-size: 1.7em;
    }

    .videopop_text p {
        font-size: 1.3em;
    }

    .videopop .videopop_close {
        top: 3%;
        width: 7.5%;
    }

    .videopop_btns-wrapper .videopop_icon {
        width: 70%;
    }

    .videopop_btns-wrapper .videopop_share-icons-box { 
        height: 57%;
    }
}

@media screen and (min-width: 1000px) {
    .videopop {
        animation: fadeInRight 1s;
        position: relative;
        height: auto;
        padding: 40px 20px;
        align-items: inherit;
        box-shadow: 3px 7px 16px #00122d;
    }

    .videopop .videopop_close {
        right: 2%;
        width: 5.5%;
    }

    .videopop .videopop_main-content {
        width: 85%;
    }

    .videopop_video-wrapper .videopop_play-icon {
        width: 15%;
    }

    .videopop_text p {
        font-size: 1.5em;
    }

    .videopop_btns-wrapper .videopop_icon {
        width: 60%;
    }

    .videopop .videopop_cards {
        margin-top: 40px;
        display: flex;

        justify-content: space-evenly;
    }

    .videopop_cards .card {
        margin: 0;
        width: 47%;
    }

    .videopop_btns-wrapper .videopop_share-icons-box { 
        width: 60%;
        height: 53%;
    }

    .videopop_share-icons-box .share-icon {
        margin: 5px 0;
    }
}

@media screen and (min-width: 1200px) {
    .videopop {
        padding: 40px 20px;
    }

    .videopop .videopop_close {
        width: 4.5%;
    }

    .videopop_text h4 {
        font-size: 2em;
    }

    .videopop_text p {
        font-size: 1.6em;
    }

    .videopop_btns-wrapper .videopop_icon {
        width: 52%;
    }

    .videopop_btns-wrapper .videopop_share-icons-box { 
        margin-top: 40px;
        margin-bottom: -40%;
        width: 50%;
        height: 47%;
    }

    .videopop_share-icons-box .share-icon {
        margin: 6px 0;
    }
}

@media screen and (min-width: 1600px) {
    .videopop .videopop_main-content {
        width: 85%;
    }

    .videopop_text h4 {
        font-size: 2.5em;
    }

    .videopop_text p {
        font-size: 1.8em;
    }

    .videopop .videopop_close {
        right: 1.5%;
        width: 3.5%;
    }

    .videopop .videopop_btns-wrapper {
        width: 8%;
    }

    .videopop_cards .card {
        width: 45%;
    }

    .videopop_btns-wrapper .videopop_share-icons-box { 
        height: 40%;
    }

    .videopop_share-icons-box .share-icon {
        margin: 7px 0;
    }
}