.signossintomas {
    background-color: #51758b;

    display: flex;
    flex-direction: column;
}

.signossintomas h2 {
    padding: 10px 10px 0 10px;
    font-size: 1em;
    font-family: Helvetica;
    font-weight: bold;
    color: #fff;
}

.signossintomas .signossintomas_main-wrapper {
    padding: 10px;
}

.signossintomas_main-wrapper .signossintomas_subsection-wrapper {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
}

.signossintomas_subsection-wrapper .signossintomas_subsection-media { 
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 550px) {
    .signossintomas_subsection-wrapper .signossintomas_subsection-media .card {
        width: 100%;
    }    

    .signossintomas_subsection-wrapper .signossintomas_subsection-media .card-sup-icon {
        width: 8%;
    }

    .signossintomas_subsection-wrapper .signossintomas_subsection-media .card-play-btn {
        width: 20%;
    }

    .signossintomas_subsection-wrapper .signossintomas_subsection-media .card-title {
        top: 41%;
        font-size: 1.5em;
    }

    .signossintomas_subsection-wrapper .signossintomas_subsection-media .card-text {
        top: 52%;
        font-size: 1em;
    }
}

@media screen and (max-width: 840px) and (min-width: 425px) {
    .signossintomas_subsection-wrapper .subsection-title {
        width: 100%;
    }

    .signossintomas_subsection-wrapper .signossintomas_subsection-media {
        flex-direction: row;
    }

    .signossintomas_subsection-wrapper .signossintomas_subsection-media .card {
        margin: 0;
        width: 32%;
    }   

    .signossintomas_subsection-wrapper .signossintomas_subsection-media .card-title {
        top: 30%;
        font-size: 1em;
    }

    .signossintomas_subsection-wrapper .signossintomas_subsection-media .card-text {
        top: 46%;
        font-size: 0.65em;
    }
}

@media screen and (max-width: 750px) and (min-width: 500px) {
    .signossintomas_subsection-wrapper .signossintomas_subsection-media {
        margin-top: 10px;
        width: 100%;
        flex-direction: row;  
    }

    .signossintomas_subsection-wrapper .subsection-title {
        width: 100%;
    }

    .signossintomas_subsection-wrapper .signossintomas_subsection-media .card {
        margin: 0;
        width: 33%;
    }

    .signossintomas_subsection-wrapper .signossintomas_subsection-media .card-sup-icon {
        width: 10%;
    }

    .signossintomas_subsection-wrapper .signossintomas_subsection-media .card-play-btn {
        width: 30%;
    }

    .signossintomas_subsection-wrapper .signossintomas_subsection-media .card-title {
        top: 65%;
        font-size: 1.2em;
    }

    .signossintomas_subsection-wrapper .signossintomas_subsection-media .card-text {
        top: 38%;
        font-size: 0.6em;
    }

}

@media screen and (min-width: 1000px) {
    .signossintomas {
        position: relative;
    }

    .signossintomas h2 {
        font-size: 1.4em;
        padding: 20px 20px 0 20px;
    }

    .signossintomas .signossintomas_main-wrapper {
        padding: 20px;
    }

    .signossintomas_main-wrapper .signossintomas_subsection-wrapper {
        margin-bottom: 10px;
    }

    .signossintomas_subsection-wrapper .signossintomas_subsection-media .card-text {
        top: 35%;
        font-size: 0.75em;
    }
}

@media screen and (min-width: 1200px) {
    .signossintomas_main-wrapper .signossintomas_subsection-wrapper {
        margin-bottom: 10px;
        flex-direction: row;
        justify-content: space-between;
    }

    .signossintomas_subsection-wrapper .signossintomas_subsection-media {
        margin-top: 0;
        width: 49%;
        flex-direction: column;
    }

    .signossintomas_subsection-wrapper .signossintomas_subsection-media .card {
        width: 100%;
        margin-bottom: 5px;
    }

    .signossintomas_subsection-wrapper .signossintomas_subsection-media .card:last-child {
        margin-bottom: 0;
    }

    .signossintomas_subsection-wrapper .signossintomas_subsection-media .card-text {
        top: 72%;
    }
}

@media screen and (min-width: 1600px) {
    .signossintomas h2 {
        font-size: 1.7em;
        padding: 40px 40px 0 40px;
    }

    .signossintomas .signossintomas_main-wrapper {
        padding: 20px 40px 40px 40px;
    }

    .signossintomas_subsection-wrapper .signossintomas_subsection-media .card-title {
        top: 32%;
        font-size: 1.8em;
    }

    .signossintomas_subsection-wrapper .signossintomas_subsection-media .card-title {
        top: 63%;
    }

    .signossintomas_subsection-wrapper .signossintomas_subsection-media .card-text {
        top: 70%;
        font-size: 1.19em;
    }
}

@media (min-width: 1200px) {
    .width-94 {
        width: 94vw;
    }
}