.contentheaderdesktop {
    background-color: #6594be;
    color: #fff;
    background-color: #6594be;
    font-family: Helvetica;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.contentheaderdesktop .contetnheader_logo-section {
    /* border: 1px solid red; */
    padding: 20px 0;
    width: 25%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.contentheaderdesktop .contetnheader_logo-section .contentheaderdesktop_logo-wrapper {
    width: 65%;
}

.contentheaderdesktop .contentheaderdesktop_nav-wrapper {
    /* border: 1px solid red; */
    width: 65%;
}

.contentheaderdesktop .contentheaderdesktop_nav-wrapper ul {
    /* border: 1px solid red; */

    display: flex;
    justify-content: space-evenly;
}

    
.contentheaderdesktop .contentheaderdesktop_nav-wrapper ul li {
    position: relative;
    cursor: pointer;
    padding-bottom: 8px;
    width: 14%;
    list-style: none;
    text-align: center;

    display: flex;
    justify-content: center;
}

.contentheaderdesktop .contentheaderdesktop_nav-wrapper ul li span {
    width: 100%;
    padding: 40px 0 15px 0;
    font-size: 0.9em;
    font-family: Helvetica;
}

.contentheaderdesktop .contentheaderdesktop_nav-wrapper ul li:hover  .contentheaderdesktop_subsection {
    display: block;
    animation: fadeIn 0.2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

ul li .contentheaderdesktop_subsection {
    display: none;
    border-top: 3px solid #f3d9b5;
    position: absolute;
    width: 100%;
    color: #fff;
    background-color: #6594BE;
    font-size: 0.67em;
    text-align: left;
    top: 98%;
    transition: 200ms all;
    z-index: 1;
}

.contentheaderdesktop_subsection div {
    border-bottom: 1px solid #f3d9b5;
    padding: 8px 5px;
    transition: 200ms all;
}

.contentheaderdesktop_subsection div:hover {
    background-color: #f3d9b5;
    color: #284251;
}

.contentheaderdesktop_subsection div a {
    color: #fff;
    text-decoration: none;
}

.contentheaderdesktop .contentheaderdesktop_nav-wrapper .contentheaderdesktop_active-item {
    border-bottom: 3px solid #f3d9b5;
}

.contentheaderdesktop .contentheaderdesktop_nav-wrapper .contentheaderdesktop_active-item > span {
    background-color: #f3d9b5;
    color: #284251 !important;
    font-weight: bold;
}

.contentheaderdesktop  .contentheaderdesktop_right-section {
    /* border: 1px solid red; */
    position: relative;
    width: 10%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.contentheaderdesktop  .contentheaderdesktop_right-section .contentheaderdesktop_profile-pic {
    cursor: pointer;
    width: 40%;
}

.contentheaderdesktop_right-section  .contentheaderdesktop_profile-dropdown {
    position: absolute;
    border-radius: 15px;
    transform-origin: 0% 0%;
    top: 80%;
    right: 5%;
    width: 200px;
    background-color: #fff;
    z-index: 100;
}

.triangleDesktop {
    position: relative;
}

.triangleDesktop::before {
    position: absolute;
    content: '';
    top: 100%;
    left: 50%;
    transform: translate(-50%);
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 15px solid #fff;
}

.contentheaderdesktop_profile-dropdown ul {
    list-style: none;
    padding: 10px;
}

.contentheaderdesktop_profile-dropdown ul li {
    cursor: pointer;
    margin: 10px 0;
    font-family: Helvetica;
    font-size: 0.9em;
    color: #284251;

    display: flex;
    align-items: center;
}

.contentheaderdesktop_profile-dropdown ul li img {
    width: 15%;
    margin-right: 5px;
}

@media screen and (min-width: 1200px) {
    .contentheaderdesktop {
        justify-content: space-between;
        height: 12vh;
    }

    .contentheaderdesktop .contetnheader_logo-section {
        width: 35%;
        padding: 0px 0;
        flex-direction: row;
    }

    .contentheaderdesktop .contetnheader_logo-section .contentheaderdesktop_logo-wrapper {
        width: 30%;
    }

    .contentheaderdesktop .contetnheader_logo-section h4 {
        padding-left: 15px;
        border-left: 1px solid #fff;
    }

    .contentheaderdesktop .contentheaderdesktop_nav-wrapper {
        width: 60%;
    }

    .contentheaderdesktop .contentheaderdesktop_nav-wrapper ul li span {
        padding: 16px 0 15px 0;
        font-size: 1em;
    }

    .contentheaderdesktop .contentheaderdesktop_right-section .contentheaderdesktop_profile-pic {
        width: 30%;
    }

    .contentheaderdesktop_right-section .contentheaderdesktop_profile-dropdown::before {
        display: none;
    }

    .contentheaderdesktop_profile-dropdown ul li:hover {
        opacity: .8;
    }
}

@media screen and (min-width: 1600px) {
    .contentheaderdesktop .contetnheader_logo-section {
        width: 30%;
    }

    .contentheaderdesktop .contetnheader_logo-section h4 {
        font-size: 1.2em;
    }

    .contentheaderdesktop .contentheaderdesktop_nav-wrapper ul li span {
        font-size: 1.1em;
    }

    .contentheaderdesktop .contentheaderdesktop_right-section .contentheaderdesktop_profile-pic {
        width: 22%;
    }

    .contentheaderdesktop_right-section .contentheaderdesktop_profile-dropdown {
        width: 250px;
    }

    .contentheaderdesktop_profile-dropdown ul {
        padding: 15px;
    }

    .contentheaderdesktop_profile-dropdown ul li {
        margin: 15px 0;
        font-size: 1.1em;
    }

    ul li .contentheaderdesktop_subsection {
        font-size: 0.8em;
    }
}