.auth_main-container, .content_main-container {
    /* border: 1px solid red; */
    width: 100%;
    min-height: 100vh;
    
    display: grid;
    grid-template-columns: 100%;
}

.auth_main-container {
    grid-template-rows: 1fr auto;
}

.content_main-container {
    grid-template-rows: auto 1fr auto;
}

.auth_main-container .auth_main-section {
    background-image: url(./assets/images/pistas-fondo.png);

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr;
}