/* FUENTES */
@font-face {
    font-family: Sans-regular;
    src: url('./assets/fonts/OpenSans-Regular.ttf');
}
@font-face {
    font-family: Sans-semibold;
    src: url('./assets/fonts/OpenSans-SemiBold.ttf');
}
@font-face {
    font-family: Sans-bold;
    src: url('./assets/fonts/OpenSans-Bold.ttf');
}
@font-face {
    font-family: Minion-pro;
    src: url('./assets/fonts/MinionPro-Regular.otf');
}
@font-face {
    font-family: Montserrat;
    src: url('./assets/fonts/Montserrat-Medium.ttf');
}


* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.back {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.relative {
    position: relative;
}

.auth_errorMesssage {
    margin-bottom: 10px;
    font-family: Helvetica;
    font-size: 0.8em;
    color: #990000;
}

.auth_successMessage {
    margin-bottom: 10px;
    padding: 0 20px;
    font-family: Helvetica;
    font-size: 0.8em;
    color: #037631;
    text-align: center;
}

@media screen and (min-width: 1200px) {
    .auth_errorMesssage, .auth_successMessage {
        font-size: 1em;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 1600px) {
    .auth_errorMesssage, .auth_successMessage {
        font-size: 1.1em;
    }
}